body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    font-size: 16px;
}
.box{
    border: 3px solid #eee;
    width: 280px;
    height: 340px;
    position: relative;
    left: 550px;
    top:100px;
    background-color: #fff;
    border-radius: 20px;
}
.box1{
    padding-left: 20px;
}
h1{
    margin-bottom: 5px;
}
p{
    font-weight: bold;
    margin-top: 5px;
    
}
form{
    padding-left: 20px;
    
    
}
#email, #password{
    border-radius: 8px;
    border: 3px solid #eee;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 220px;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
button{
    width: 235px;
    height: 37px;
    margin-top: 8px;
    border-radius: 15px;
    background-color: #3443eb;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;

}

#pass1{
    font-weight: 400;
    margin-top: 20px;
}